.search-form {
  display: block;
  padding: 10px;
}

input {
  display: block;
  padding: 10px;
  margin: 50px auto;
}

.load-more-btn {
  display: block;
  margin: 30px auto;
  padding: 10px;

  background-color: rgb(236, 10, 180);
  color: #ffffff;
  font-weight: 700;
}
